QMainWindow{
    background-color: #1a1a1a;
    color: #A1A1A1;
}

QWidget{
    background-color: #1a1a1a;
    color: white;
}

QPushButton{
    background-color: #343434;
    color: #D4D4D4;
    border: 1px solid #A1A1A1;
    padding: 5px;
    font-size: 15px;
}

QPushButton:hover{
    background-color: #AD8800;
    color: #1a1a1a;
}

QListWidget{
    background-color: #1a1a1a;
    color: #D4D4D4;
}
QListWidget::item:selected{
    background-color: #AD8800;
    color: #1a1a1a;
}

QLabel{
    background-color: #1a1a1a;
    color: #c79c00;
    font-weight: bold;
}
QScrollBar{
    background-color: #A1A1A1;
}

/* TABLE WIDGET */
#tableWidget QTableWidget{
 background-color: #1a1a1a;
 margin: 5px;
 border: 1px solid #A1A1A1;
}

#tableWidget QTableWidget::item{
    color: #D4D4D4;
    border: 1px solid #A1A1A1;
    background-color: #343434
}

#tableWidget QHeaderView::section{
    background-color: #1a1a1a;
    color: #c79c00;
    font-weight: bold
}

#tableWidget QWidget{
    background-color: #1a1a1a;
}

#tableWidget QPushButton:hover{
    background-color: #AD8800;
    color: #1a1a1a;
}

#tableWidget QScrollBar{
    background-color: #A1A1A1;
    border: 1px solid #A1A1A1;
}
#pointInfoWidget QLabel{
    color:  #5c374c;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
}

#tableWidget QPushButton{
    background-color: #343434;
    color: #D4D4D4;
    border: 1px solid #A1A1A1;
    padding: 5px;
    font-size: 15px;
}
/* TIME SENSITIVE INFO WIDGET */
#timeSensitiveInfoWidget QLabel{
    color: #AD8800;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* POINT INFO WIDGET */

#pointInfoWidget QLabel{
    color: #AD8800;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
